.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    list-style-type: none;
    margin-right: 40px;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: #1a237e;
}

.nav-list :hover {
    color: #080f08;
}

.header {
    background: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%);
    color: #222831;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td { 
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}


.movie-image img {
    width: 100px;
    height: auto;
}
        
th {
    background-color: #f2f2f2;
}